@model CategoryDTO
<div class="modal fade" id="DeleteModal-@Model.Id" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">Delete Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure to Delete?
            </div>
            <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@Model.Id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
